<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>flat_strip</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Hai To</name>
    <email>hai.to@unikie.com</email>
  </author>

  <description>
    Flat strip for fixed wing takeoff and landing
  </description>
</model>